body {
    padding: 0;
    margin: 0;
}

#navbar {
    width: 92%;
    margin: auto;
    padding: 0.2%;
    margin-top: 5px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-bottom: 0.1px solid gray;
    background-color: white;
    position: relative;
}

#nav1 {
    display: flex;
    justify-content: end;

}

#nav1>i {
    padding: 5px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 530;
}
#nav1>i>a{
    text-decoration: none;
    color: black;   

}
#nav1>i>a:hover{
    color: rgb(14, 125, 14);
}
#nav1>i:hover {
   color: rgb(14, 125, 14);
}

#nav2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav2>div {
    display: flex;
    justify-content: space-between;
    background-color: rgb(150, 166, 180);
    padding: 10px;
    border-radius: 8px;
}

#nav2>div>input {
    display: flex;
    width: 520px;
    height: 32px;
    font-size: 15px;
    color: rgb(43, 43, 43);
    margin-top: 5px;
    border-radius: 0%;
    border: 0.5px solid black;
}
#search{
    background-color: rgb(76, 142, 43);
    width: 30px;
    height: 34px;
    color: white;
    margin-top: 5.0px;
    border-right: 0.5px solid black;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
}

#logo {
    width: 220px;
    height: 120px;
    margin-top: -30px;
}

#nav2>div img {
    width: 40px;
    height: 30px;
    margin: 7px;
}
#cart{
    margin-top: -20px;
}
.innav{
    background-color:  rgb(76, 142, 43);
    border: 0ch;
    color: white;
    padding: 0.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-top: -15px;
}
#tag{
    color: white;
    padding-right: 5px;
}
#tag:hover{
    color: red;
}
/* *******************FOOTER**************** */
#disc {
    width: 90%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 2px 15px 5px 15px;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

.highligh {
    color: green;
    font-size: 18px;
    font-weight: 600;
}

#more {
    display: none;
}

#footer {
    width: 90%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#foot1 {
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

#foot1>div>p:hover {
    color: green;
}

.green {
    color: green;
    font-size: 16px;
    font-weight: 600;
}

#foot2 {
    margin: auto;
    width: 85%;
    margin-bottom: 30px;
    display: flex;

}

.first {
    width: 200px;
}

.sec {
    margin-top: 50px;
}

.third {
    margin-top: 30px;
}

.forth {
    margin-top: 140px;
}

.second {
    margin-left: 50px;
    width: 900px;
}

.second img {
    width: 500px;
}

#copyright {
    margin: auto;
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: small;
    background-color: black;
    margin-bottom: -10px;
    padding: 0.05px;
}
/* ***********************************FOORTER********************** */

/* ******************************MEDIA QUERY************************* */
#mediaqueryfortab{
    display: none;
    width: 100%;
    margin: auto;
    background-color: rgb(148, 230, 24);
    padding-left:10px ;

}
#mediaqueryfortab>div{
    width: 95%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
}
#mediaqueryfortab>div a{
    font-size: 30px;
}
#mediaqueryfortab>div p{
    font-size: 30px;
    margin-top: 0px;
}
#Basket{
    color: white;
}
@media (min-width: 425px) and (max-width: 825px) {
    a{
        text-decoration: none;
    }
    body{
        box-sizing: border-box;
       }
    #mediaqueryfortab{
        display: block;
    }
    #navbar{
        display: none;
    }
    #mediaqueryfortab input {
        width: 100%;
        height: 35px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    /* **********Footer************* */
    #foot1 {
        width: 100%;
    }

    #foot2 {
        width: 100%;

    }

    .sec {
        margin-top: 60px;
    }

    .third {
        margin-top: 60px;
    }

    .forth {
        margin-top: 350px;
    }

    .second {
        margin-left: 50px;
        width: 900px;

    }

    .second img {
        width: 80%;
    }
/* *****************Footer****************** */
}
@media (min-width: 0px) and (max-width: 424px) {
    a{
        text-decoration: none;
    }
    body{
        box-sizing: border-box;
       }
    #mediaqueryfortab{
        display: block;
    }
    #navbar{
        display: none;
    }
    #mediaqueryfortab input {
        width: 100%;
        height: 35px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    /* ***********FOOTER*********** */
    
    #foot1 {
        width: 100%;
    }

    #foot2 {
        width: 100%;

    }

    .sec {
        margin-top: 60px;
    }

    .third {
        margin-top: 60px;
    }

    .forth {
        margin-top: 350px;
    }

    .second {
        margin-left: 50px;
        width: 900px;

    }

    .second img {
        width: 80%;
    }
    /* *********************Footer******************** */
}